<?xml version="1.0" encoding="utf-8"?>
<robot>
  <!-- joints transmission -->
  <transmission name="J1_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="J1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="J1_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="J2_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="J2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="J2_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>   

  <transmission name="J3_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="J3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="J3_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>   

  <transmission name="J4_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="J4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="J4_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission> 

  <transmission name="J5_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="J5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="J5_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>   

  <transmission name="GJ1_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="GJ1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="GJ1_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>   

  <transmission name="GJ2_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="GJ2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="GJ2_M">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission> 
</robot>

