<?xml version="1.0" encoding="utf-8"?>
<robot>
  <!-- drive wheels transmission -->
  <transmission name="P1_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="P1_J">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="P1_M">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="P2_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="P2_J">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="P2_M">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>
    
</robot>

