<?xml version="1.0" encoding="utf-8"?>
<robot>
  <!-- drive wheels transmission -->
  <transmission name="PW1_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="p1_j">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="PW1_M">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="PW2_T">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="p2_j">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="PW2_M">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>5</mechanicalReduction>
    </actuator>
  </transmission>
    
</robot>

