<?xml version="1.0"?>

<robot name="mim_diffdrive_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mim_robots)/urdf/diffdrive/mim_diffdrive.urdf"/>

  <link name="dummy_link"></link>
  <joint name="dummy_to_car" type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="dummy_link" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- <xacro:include filename="$(find mim_robots)/urdf/mim_arm.urdf"/> -->
  <!--  -->
  <!-- <joint name="car_to_arm" type="fixed"> -->
  <!--   <origin -->
  <!--     xyz="-0.2 0 0.281" -->
  <!--     rpy="0 0 0" /> -->
  <!--   <parent -->
  <!--     link="base_link" /> -->
  <!--   <child -->
  <!--     link="mim_arm_base_link" /> -->
  <!--   <axis -->
  <!--     xyz="0 0 0" /> -->
  <!-- </joint> -->


  <!-- <link name="world"></link> -->
  <!-- <joint name="world_to_arm" type="fixed"> -->
  <!--   <origin -->
  <!--     xyz="0 0 0" -->
  <!--     rpy="0 0 0" /> -->
  <!--   <parent -->
  <!--     link="world" /> -->
  <!--   <child -->
  <!--     link="mim_arm_base_link" /> -->
  <!--   <axis -->
  <!--     xyz="0 0 0" /> -->
  <!-- </joint> -->

  <xacro:include filename="$(find mim_robots)/urdf/gazebo/diffdrive_arm.gazebo"/>
  <xacro:include filename="$(find mim_robots)/urdf/diffdrive/diffdrive_transmission.urdf"/>
  <!-- <xacro:include filename="$(find mim_robots)/urdf/arm_transmission.urdf"/> -->
</robot>
