<?xml version="1.0"?>
<launch>

  <!-- warehouse simulation environment -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find mim_robots)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find mim_robots)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mim_robots)/worlds/warehouse.world"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/> 
  </include>

  <!-- diffdrive -->
  <group ns="mim_diffdrive_arm">
    <arg name="diffdrive_init_pose" value="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find mim_robots)/urdf/diffdrive_arm.xacro"/>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model_diffdrive" args="$(arg diffdrive_init_pose) -param robot_description -urdf -model mim_diffdrive_arm 
                -J GJ1 0.04 -J GJ2 0.04"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
      <param name="publish_frequency" value="40.0"/>
    </node>

    <rosparam command="load" 
      file="$(find mim_robots)/config/diffdrive.yaml"/>
    <rosparam command="load" 
      file="$(find mim_robots)/config/arm.yaml"/>

    <node name="diffdrive_controller_manager" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" 
      args="mim_diffdrive/mobile_base_controller
            mim_arm/joint1_controller 
            mim_arm/joint2_controller 
            mim_arm/joint3_controller 
            mim_arm/joint4_controller 
            mim_arm/joint5_controller 
            mim_arm/gripper1_controller
            mim_arm/gripper2_controller" />
  </group>
  <arg name="ramp_init_pose" value="-x 3.5 -y 5.5 -z 0 -R 0 -P 0 -Y 1.57"/>
  <param name="ramp_description" command="$(find xacro)/xacro $(find mim_robots)/urdf/other_models/ramp.urdf"/>

</launch>
