<?xml version="1.0"?>
<launch>

  <!-- warehouse simulation environment -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find mim_robots)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find mim_robots)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mim_robots)/worlds/warehouse.world"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/> 
  </include>

  <!-- rocker_boggie -->
  <group ns="mim_rockerb_arm">
    <arg name="init_pose" value="-x 3 -y 5 -z 0 -R 0 -P 0 -Y 0"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find mim_robots)/urdf/rockerb_arm.xacro"/>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model_rockerb" args="$(arg init_pose) -param robot_description -urdf -model mim_rockerb_arm"/> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
      <param name="publish_frequency" value="40.0"/>
    </node>

    <rosparam command="load"
      file="$(find mim_robots)/config/rockerb.yaml"/>
    <rosparam command="load" 
      file="$(find mim_robots)/config/arm.yaml"/>

    <node name="rockerb_controller_manager" pkg="controller_manager" type="spawner"
      respawn="false" output="screen"  
      args="mim_rockerb/mobile_base_controller
            mim_arm/joint1_controller 
            mim_arm/joint2_controller 
            mim_arm/joint3_controller 
            mim_arm/joint4_controller 
            mim_arm/joint5_controller 
            mim_arm/joint6_controller 
            mim_arm/gripper1_controller
            mim_arm/gripper2_controller" />
  </group>
</launch>
